/* body {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin: 0 auto; 
  padding: 0;
  overflow-x: hidden; 
  width: 100%;
} */
/* max-width: 1920px; */

/* desktop 1140px and 1152px */
/* @media (max-width: 1140px) {
  body {
      grid-template-columns: repeat(12, 1fr); 
      gap: 32px;
  }
} */
/* Tablet 768px */
/* @media (max-width: 768px) {
  body {
      grid-template-columns: repeat(8, 1fr); 
      gap: 20px;
  }
} */

/* Mobile 320px */
/* @media (max-width: 480px) {
  body {
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
  }
} */
