.hero-section {
  height: 656px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
}

.hero-details {
  flex: 1;
  max-width: 691px;
  height: 381px;
  display: grid;
}
.hero-details h1{
  font-size: 64px;
  line-height: 5rem;
  text-wrap: initial;
}
.hero-details p {
  font-weight: normal;
  font-size: 18px;
}
.hero-blank {
  flex: 1;
  width: clamp(685px, 24vw, 285px);
  height: 456px;
  background-color: var(--light-blue-color);
}
.hero-details .hero-btn {
  display: flex;
  align-items: center;
}