.ext-section {
  margin-left: 32px;
  margin-right: 32px;
  height: 760px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

.ext-details {
  flex: 1;
  max-width: 691px;
  height: 381px;
  display: grid;
  align-items: center;
}
.ext-details h1 {
  font-size: 64px;
  line-height: 5rem;
  text-wrap: initial;
}
.ext-details p {
  font-weight: normal;
  font-size: 18px;
}
.ext-blank {
  flex: 1;
  width: clamp(685px, 24vw, 285px);
  height: 480px;
  background-color: var(--light-blue-color);
}
.ext-details .ext-btn {
  display: flex;
  align-items: center;
}

/* customize section */
.customize-needs {
  margin-left: 32px;
  margin-right: 32px;
  height: 540px;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  height: 780px;
}
.customize-needs-blank {
  /* width: 583px; */
  background-color: var(--light-blue-color);
  flex: 1;
  min-width: 280px;
  height: 500px;
}
.customize-needs-content {
  /* width: 633px; */
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 500px;
  /* margin-top: 100px; */
  /* margin-bottom: 100px; */
}
.customize-needs-content h1{
  text-wrap: auto;
}
