.sponsors {
  height: 530px;
  padding: 140px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black-color);
}
.sponsors-title {
  text-align: center;
}
.sponsors-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apple-icon {
  width: 55px;
  height: 70px;
}
.sponsor-microsoft {
  display: flex;
  width: 280px;
  height: 60px;
  align-items: center;
}
.sponsor-slack {
  width: 280px;
  height: 70px;
}
.sponsor-google {
  width: 210px;
  height: 70px;
}

@media (max-width: 1152px) {
  .sponsors {
    height: 1010px;
    display: grid;
    justify-content: center;
    /* justify-content: flex-start; */
  }
  .sponsors-company {
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    gap: 4rem;
  }
}
@media (max-width: 768px) {
  .sponsors {
    height: 1010px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 480px) {
  .sponsors {
    height: 810px;
    padding: 80px 16px;
  }
  .sponsor-microsoft {
    display: flex;
    width: 200px;
    height: 45px;
    align-items: center;
  }
  .sponsor-slack {
    width: 190px;
    height: 45px;
  }
  .sponsor-google {
    width: 140px;
    height: 45px;
  }
}

/* highlight */
.sponsors-highlight-wrapper {
  position: relative;
  display: inline-block;
}

.sponsors-highlight-text {
  position: relative;
  z-index: 2; 
}

.sponsors-highlight-svg {
  position: absolute;
  left: 0px;
  bottom: -10px; 
  width: 110%;
  height: auto;
  max-height: 1.2em;
  z-index: 1;
  fill: var(--yellow-color) !important;
  pointer-events: none;
}
